/* body */
body{
    background-color: teal;
}

/* todo container */
.todo-container{
    width: 50vw;
    height: auto;
    max-height: 100vh;
    min-height: 60vh;
    min-width: 500px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: sans-serif;
    background-color: cadetblue;
}

form{
    height: 40vh;
    width: 100%;
}

.description-input{
    height: 10vh;
    border-top: 1.5px solid white;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}

.description-input input{
    outline: none;
    height: 50%;
    width: 98%;
    border: none;
    font-size: 1.2rem;
    background-color: transparent;
    color: white;
}

.category-date{
    height: 10vh;
    display: flex;
    border-top: 1.5px solid white;
    border-bottom: 1.5px solid white;
    background-color: transparent;
}

.category{
    width: 49%;
    box-sizing: border-box;
    padding-top: 0.5rem;
}

.category select{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.date{
    width: 49%;
    box-sizing: border-box;
    padding-top: 0.5rem;
}

.date input{
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
}

.add-delete-button{
    height: 20vh;
    box-sizing: border-box;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    display: flex;
    justify-content: center;
    
}

.add-delete-button #add-button{
    background-color: #2e3630;
    width: 31%;
    height: 8vh;
    color: white;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 0.5rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#delete-button{
    display: flex;
    background-color: darkred;
    width: 31%;
    height: 8vh;
    color: white;
    font-size: 1rem;
    align-items: center;
    text-decoration: none;
    margin-left: 0.5rem;
    justify-content: center;
    border-radius: 8px;
}

.list-container{
       box-sizing: border-box;
       padding: 0.8rem;
       overflow: scroll;
       height: 46vh;
}

/* hiding scroll but maintaining the feature */
.list-container::-webkit-scrollbar {
    display: none;
  }

.list-item{
    height: 11vh;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#category-tag{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 5rem;
    color: whitesmoke;
}

input[type=checkbox]{
    height: 20px;
    width: 20px;
}

.list-item label{
    margin-left: 0.8rem;
    width: 60%;
}

label .content{
    font-size: 1rem;
}

label .due-date{
    font-size: 0.75rem;
}


/* general classes */

.text-center{
    text-align: center;
}

.tbmzero{
    margin-top: 0;
    margin-bottom: 0;
}

.tm5px{
    margin-top: 5px;
}

.tm8px{
    margin-top: 8px;
}

.rlphalf{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.bmzero{
    margin-bottom: 0;
}

.mr20px{
    margin-right: 20px;
}

.mr10px{
    margin-right: 10px;
}

.green{
    background-color: green;
}

.red{
    background-color: #cf0202;
}

.yellow{
    background-color: #d3e602;
}